<!--Popular Events-->

<div class="row popular-events">
  <div class="large-4 medium-4 small-4 columns">
    <div class="callout panel">
      <img src="/assets/radiohead.jpg">
      <p class="artist">Radiohead</p>
      <p class="date">November 15, 2015</p>
      <p class="location">London, UK</p>
      <a href="#" class="small round button">Book</a><br/>
    </div>
  </div>

  <div class="large-4 medium-4 small-4 columns">
    <div class="callout panel">
      <img src="/assets/radiohead.jpg">
      <p class="artist">Radiohead</p>
      <p class="date">November 15, 2015</p>
      <p class="location">London, UK</p>
      <a href="#" class="small round button">Book</a><br/>
    </div>
  </div>

  <div class="large-4 medium-4 small-4 columns">
    <div class="callout panel">
      <img src="/assets/radiohead.jpg">
      <p class="artist">Radiohead</p>
      <p class="date">November 15, 2015</p>
      <p class="location">London, UK</p>
      <a href="#" class="small round button">Book</a><br/>
    </div>
  </div>
</div>
