<div class="large-12 columns">
  <h1 class="header">Choose your favorite event type</h1>
</div>

<div class="large-12 columns icon-elements">
  <div class="large-4 medium-4 columns">
      <img class="icon" src="/assets/music.png"></a>
        <a href="#"><h2>Music</h2></a>
  </div>

   <div class="large-4 medium-4 columns">
      <img class="icon" src="/assets/theater.png">
        <h2>Theater</h2>
    </div>

  <div class="large-4 medium-4 columns">
      <img class="icon" src="/assets/sports.png">
        <h2>Sports</h2>
  </div>
</div>
</div>
<div class="large-12 columns">

  <%= render 'search' %>

  <%= render 'popular_events' %>

</div>
