<!--START OF THE MAP-->

<head>
  <meta charset=utf-8 />
  <title>A simple map</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="/assets/stylesheets/appication.css">
  <link rel="stylesheet" href="/css/style.css">


  <style>
  body { margin:0; padding:0; }
  #map { width:100%; height: 600px }
  .leaflet-popup-content { padding:30px 30px;}
  </style>
</head>


  <div id='map', class="map large-12 columns"></div>


<script>
L.mapbox.accessToken = 'pk.eyJ1Ijoia2VsbHlkZXJuIiwiYSI6ImNpZ3BmaWpxeTAwdjF1eG0xdjdocmhvenYifQ.ua0dnrQ9efuNZxwGg7R9zA';
var map = L.mapbox.map('map', 'mapbox.streets')
.setView([38.9, -77], 5);

var fixedMarker = L.marker(new L.LatLng(38.9, -77), {
  icon: L.mapbox.marker.icon({
    'marker-color': 'ff8888'
  })
}).bindPopup('Into the Valley <br /> Sweden <br /> June 15, 2016 <br /> <a href=\'http://localhost:3000/landings/13/booking\'>Book Travel</a>').addTo(map);

var fixedMarker = L.marker(new L.LatLng(40, -80), {
  icon: L.mapbox.marker.icon({
    'marker-color': 'ff8888'
  })
}).bindPopup('Into the Valley <br /> Sweden <br /> June 15, 2016 <br /> <a href=\'http://localhost:3000/landings/13/booking\'>Book Travel </a>').addTo(map);

fixedMarker.on('ready', function() {
  map.fitBounds(fixedMarker.getBounds());
});
</script>
