<!--START OF THE MAP-->

<div class="row">
  <div class="map large-12 columns">
    <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/kellydern.cigpfiick00u7uckosa8kgc6f/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoia2VsbHlkZXJuIiwiYSI6ImNpZ3BmaWpxeTAwdjF1eG0xdjdocmhvenYifQ.ua0dnrQ9efuNZxwGg7R9zA'></iframe>
  </div>
</div>
