<div class="row" "input-elements">

  <div class="large-4 medium-4 small-4 columns">
    <label for="from">Search</label>
    <input type="text" placeholder="Search artist, festival or genre" />
  </div>

  <div class="large-4 medium-4 small-4 columns">
    <label for="from">From</label>
    <input type="text" id="from" name="from">
  </div>

  <div class="large-4 medium-4 small-4 columns">

    <label for="to">to</label>
    <input type="text" id="to" name="to">

  </div>

  <!--END INPUT ELEMENTS-->
</div>
<div class="button" "button-content">
  <a class="button-area" href="#" >Search</a><br/>
</div>
