<div class="nav large-12 columns">
  <div class="logo">
    <img src="/assets/Emirates-logo.png">
  </div>
</div>


<div class="row" "header-content">
  <div class="large-12 columns">
    <h1 class="header-content">Find music around the world</h1>
  </div>
</div>

<div class="large-12 columns link">
  <a href="www.spotify.com">Link your Spotify account</a>
</div>

<%= render 'user_search' %>

<%= render 'map_of_events' %>

<%= render 'popular_events' %>
