/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

 /*EMIRATES HACKATHON*/

 .header-content {
   text-align: center;
   font-weight: 400;
   font-size: 56px;
   padding: 60px 0px 20px 0px;
 }

 .nav {
   background-color: #333333;
   padding: 10px;
   max-width: 100%;
 }

 .logo {
   margin: 0px 60px;
   padding: 0px 60px;
 }

 #logo {
   max-width: 110px;
 }

 .input-elements {
   background-color: none;
   padding: 30px 0px 0px;
   margin: 50px auto 20px;
 }

 .button {
   font-size: 1rem;
   margin: 0px auto;
   float: center;
   display: block;
   width: 33%;
   background-color: #f37560;
   color: #FFFFFF;
   text-decoration: none;
   text-align: center;
   border-radius: 3px;
 }
 a:visited {
   color: #FFFFFF;
 }

 a:link {
   color: #FFFFFF;
 }

 .button-area {
   padding: 10px 0px;
   color: #FFFFFF;
 }

 .button-content {
   padding: 30px 0px;
   margin: 30px 0px;
   color: #FFFFFF;
 }

 .map {
   margin: 50px 0px;
 }

 .link {
   margin: 0px auto;
   color: #e21b23;
   text-decoration: underline;
   text-align: center;
   padding: 0px 0px 40px 0px;
 }

 /*POPULAR EVENTS*/

 .popular-events {
   background-color: #FFFFFF;
   padding: 60px 0px;
 }

 .artist, .date, .location {
   text-align: center;
 }

 .artist {
   padding-top: 10px;
 }

 .panel.callout {
   border-style: solid;
   border-width: 1px;
   border-color: #d8d8d8;
   margin-bottom: 1.25rem;
   padding: 1.25rem;
   background: #eaeaea;
   color: #333333;
   border-radius: 3px
 }
 .panel.callout > :first-child {
   margin-top: 0;
 }
 .panel.callout > :last-child {
   margin-bottom: 0;
 }
 .panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6, .panel.callout p, .panel.callout li, .panel.callout dl {
   color: #333333;
 }
 .panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6 {
   line-height: 1;
   margin-bottom: 0.625rem;
 }
 .panel.callout h1.subheader, .panel.callout h2.subheader, .panel.callout h3.subheader, .panel.callout h4.subheader, .panel.callout h5.subheader, .panel.callout h6.subheader {
   line-height: 1.4;
 }
 .panel.callout a:not(.button) {
   color: #008CBA;
 }
 .panel.callout a:not(.button):hover, .panel.callout a:not(.button):focus {
   color: #0078a0;
 }

       /*new styles*/

  .photo {
    padding: 50px 0px;
    color: #333333;
    background-image: url("../img/concert.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width:100%;
  }

  .header {
  font-family: font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 56px;
  font-weight: 500;
  color: #333333;
  text-align: center;
  margin: 0px auto;
  padding: 50px;
}

.header-photo {
  font-family: font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 56px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  margin: 0px auto;
  padding: 50px 200px;
}

h2 {
  text-align: center;
  margin: 0px auto;
}

/*.nav {
  padding: 100px 0px;
  max-width: 100%;
  background-color: #333333;
}*/

.icon {
  margin: 0px auto;
  text-align: center;
}

.icon-elements {
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

.artist-photo {
  margin: 0px auto;
  text-align: center;
  padding: 20px 0px;
}

a {
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
}

.small-button {
   -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1.3rem 2rem;
  border-radius: 3px;
  font-size: 1rem;
  background-color: #e11f26;
  border-color: #e11f26;
  color: #FFFFFF;
}

.description {
  text-align: center;
}

.description-large {
  text-align: center;
  font-size: 30px;
}

 .panel.callout a:not(.button) {
      color: #FFFFFF }



.panel.callout {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #f9f9f9;
    color: #f7f7f7; }

.subtitle {
  text-align: center;
  padding: 20px;
}
