<html class=" js flexbox flexboxlegacy canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en"><head><meta class="foundation-mq-small"><meta class="foundation-mq-small-only"><meta class="foundation-mq-medium"><meta class="foundation-mq-medium-only"><meta class="foundation-mq-large"><meta class="foundation-mq-large-only"><meta class="foundation-mq-xlarge"><meta class="foundation-mq-xlarge-only"><meta class="foundation-mq-xxlarge"><meta class="foundation-data-attribute-namespace">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="app/assets/stylesheets/application.css">
    <script src="js/vendor/modernizr.js"></script>
  <style></style><meta class="foundation-mq-topbar"></head>
  <body>

    <div class="row nav">
      <div class="large-12 columns">
      </div>
    </div>
    
    <div class="row photo">
      <div class="large-12 columns">
        <h1 class="header-photo">Book flights to see your favorite artists around the world</h1>
      </div>
    </div>

    <div class="large-12 columns">
      <h3 class="subtitle">Where you can see Todd Terje around the world</h3>
      <img class="artist-photo" src="app/assets/images/toddterje.jpg">
    </div>

     <div class="large-12 columns">
       <div class="large-4 medium-4 small-4 columns">
          <div class="callout panel">
                <p class="description">Todd Terje</p> <br>
                <p class="description">June 23, 2015</p> <br>
                <p class="description">Sweden</p>
          <p class="description"><a href="#" class="small-button">Book Flight</a><br>
          </p></div>
        </div>

        <div class="large-4 medium-4 small-4 columns">
          <div class="callout panel">
                <p class="description">Todd Terje</p> <br>
                <p class="description">June 27, 2015</p> <br>
                <p class="description">Germany</p>
          <p class="description"><a href="#" class="small-button">Book Flight</a><br>
          </p></div>
        </div>

        <div class="large-4 medium-4 small-4 columns">
          <div class="callout panel">
                <p class="description">Todd Terje</p> <br>
                <p class="description">June 27, 2015</p> <br>
                <p class="description">Germany</p>
          <p class="description"><a href="#" class="small-button">Book Flight</a><br>
          </p></div>
        </div>

      </div>

       <div class="large-12 columns">
       <div class="large-4 medium-4 small-4 columns">
          <div class="callout panel">
                <p class="description">Todd Terje</p> <br>
                <p class="description">June 23, 2015</p> <br>
                <p class="description">Sweden</p>
          <p class="description"><a href="#" class="small-button">Book Flight</a><br>
          </p></div>
        </div>

        <div class="large-4 medium-4 small-4 columns">
          <div class="callout panel">
                <p class="description">Todd Terje</p> <br>
                <p class="description">June 27, 2015</p> <br>
                <p class="description">Germany</p>
          <p class="description"><a href="#" class="small-button">Book Flight</a><br>
          </p></div>
        </div>

        <div class="large-4 medium-4 small-4 columns">
          <div class="callout panel">
                <p class="description">Todd Terje</p> <br>
                <p class="description">June 27, 2015</p> <br>
                <p class="description">Germany</p>
          <p class="description"><a href="#" class="small-button">Book Flight</a><br>
          </p></div>
        </div>
        
      </div>
  
  
  

</body></html>