<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="app/assets/stylesheets/application.css">
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>

    <div class="row nav">
      <div class="large-12 columns">
      </div>
    </div>

    <div class="large-12 columns">
      <h1 class="header">Choose your favorite event type</h1>
    </div>
    
    <div class="large-12 columns icon-elements">
      <div class="large-4 medium-4 columns">
          <img class="icon" src="app/assets/images/music.png"></a>
            <a href="#"><h2>Music</h2></a>
      </div>

       <div class="large-4 medium-4 columns">
          <img class="icon" src="app/assets/images/theater.png">
            <h2>Theater</h2>
        </div>

      <div class="large-4 medium-4 columns">
          <img class="icon" src="app/assets/images/sports.png">
            <h2>Sports</h2>
      </div>
    </div>
  
  </body>
</html>
